services:
  api:
    image: ${API_REPO:-console-api}:${API_TAG:-latest}
    build:
      context: ../..
      dockerfile: packages/docker/Dockerfile.node
      target: production-nginx
      args:
        WORKSPACE: apps/api
        GITHUB_PAT: ${GITHUB_PAT}

  indexer:
    image: ${INDEXER_REPO:-console-indexer}:${INDEXER_TAG:-latest}
    build:
      context: ../..
      dockerfile: packages/docker/Dockerfile.node
      target: production
      args:
        WORKSPACE: apps/indexer

  provider-proxy:
    image: ${PROVIDER_PROXY_REPO:-console-provider-proxy}:${PROVIDER_PROXY_TAG:-latest}
    build:
      context: ../..
      dockerfile: packages/docker/Dockerfile.node
      target: production-nginx
      args:
        WORKSPACE: apps/provider-proxy

  deploy-web:
    image: ${DEPLOY_WEB_REPO:-console-deploy-web}:${DEPLOY_WEB_TAG:-latest}
    build:
      context: ../..
      dockerfile: packages/docker/Dockerfile.nextjs
      target: production-nginx
      args:
        WORKSPACE: apps/deploy-web
        DEPLOYMENT_ENV: ${DEPLOYMENT_ENV}

  stats-web:
    image: ${STATS_WEB_REPO:-console-stats-web}:${STATS_WEB_TAG:-latest}
    build:
      context: ../..
      dockerfile: packages/docker/Dockerfile.nextjs
      target: production
      args:
        WORKSPACE: apps/stats-web
        DEPLOYMENT_ENV: ${DEPLOYMENT_ENV}

  provider-console:
    image: ${PROVIDER_CONSOLE_REPO:-console-provider}:${PROVIDER_CONSOLE_TAG:-latest}
    build:
      context: ../..
      dockerfile: packages/docker/Dockerfile.nextjs
      target: production
      args:
        WORKSPACE: apps/provider-console
        DEPLOYMENT_ENV: ${DEPLOYMENT_ENV}
