services:
  api:
    restart: always
    environment:
      PORT: 3000
      GITHUB_PAT: ${GITHUB_PAT}
    env_file:
      - .env.sandbox.docker-compose-dev
    ports:
      - '3080:3000'
      - '3081:3001' # background jobs server

  notifications:
    restart: always
    environment:
      PORT: 3000
    env_file:
      - .env.sandbox.docker-compose-dev
    ports:
      - '3090:3000'

  indexer:
    restart: always
    env_file:
      - .env.sandbox.docker-compose-dev

  provider-proxy:
    restart: always
    environment:
      PORT: 3000
    env_file:
      - .env.sandbox.docker-compose-dev
    ports:
      - '3040:3000'

  deploy-web:
    restart: always
    environment:
      API_HOST: api
    env_file:
      - .env.sandbox.docker-compose-dev
    ports:
      - '3000:3000'
    depends_on:
      - api
      - notifications
      - provider-proxy

  stats-web:
    restart: always
    env_file:
      - .env.sandbox.docker-compose-dev
    ports:
      - '3001:3000'
    depends_on:
      - api
      - provider-proxy

  provider-console:
    restart: always
    env_file:
      - .env.sandbox.docker-compose-dev
    ports:
      - '3003:3000'
