{
  "printWidth": 160,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "trailingComma": "none",
  "requirePragma": false,
  "insertPragma": false,
  "singleQuote": false,
  "arrowParens": "avoid",
  "endOfLine": "crlf",
  "htmlWhitespaceSensitivity": "strict",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "./apps/deploy-web/**",
      "options": {
        "tailwindConfig": "./apps/deploy-web/tailwind.config.ts"
      }
    },
    {
      "files": "./apps/stats-web/**",
      "options": {
        "tailwindConfig": "./apps/stats-web/tailwind.config.ts"
      }
    }
  ]
}
