services:
  api:
    build:
      target: development
    volumes:
      - ./apps/api:/app/apps/api
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - /app/node_modules
      - /app/apps/api/node_modules

  indexer:
    build:
      target: development
    volumes:
      - ./apps/indexer:/app/apps/indexer
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - /app/node_modules
      - /app/apps/indexer/node_modules

  deploy-web:
    build:
      target: development
    volumes:
      - ./apps/deploy-web:/app/apps/deploy-web
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - /app/node_modules
      - /app/apps/deploy-web/node_modules
      - /app/apps/deploy-web/.next

  stats-web:
    build:
      target: development
    volumes:
      - ./apps/stats-web:/app/apps/stats-web
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - /app/node_modules
      - /app/apps/stats-web/node_modules
      - /app/apps/stats-web/.next
