NETWORK=sandbox
ACTIVE_CHAIN=
AKASH_DATABASE_CS=
AKASH_SANDBOX_DATABASE_CS=
AKASH_TESTNET_DATABASE_CS=
NEXT_PUBLIC_AKASH_SANDBOX_CHAIN_ID=
NEXT_PUBLIC_AKASH_SANDBOX_RPC_URL=
NEXT_PUBLIC_AKASH_SANDBOX_REST_API_URL=
NEXT_PUBLIC_AKASH_SANDBOX_GENESIS_URL=
KEEP_CACHE=
DATA_FOLDER=
