@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 15 33% 98%;
    --header: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 357 100% 63%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 357 100% 63%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 11%;
    --header: 0 0% 14%;
    --foreground: 0 0% 98%;
    --card: 0 0% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 357 100% 63%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 16.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 357 100% 63%;
  }

  * {
    @apply border-border;
    transition: background-color 0.2s ease;
  }

  body {
    overflow-y: scroll !important;
    @apply bg-background text-foreground;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: hsl(var(--secondary));
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: hsl(var(--secondary-foreground));
      border-radius: 14px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: hsl(var(--muted-foreground));
    }
  }
  a {
    text-decoration: none;
    color: hsl(var(--primary));
  }

  a:hover {
    text-decoration: underline;
  }
}
