deploymentEnv: staging
nodeOptions:
  enabledOTEL: true

chain: mainnet
hostNames:
  - console-api-mainnet-staging.akash.network

replicas: 1

resources:
  limits:
    cpu: "4"
    ephemeral-storage: "2Gi"
    memory: "8Gi"
  requests:
    cpu: "0.5"
    ephemeral-storage: "0.5Gi"
    memory: "1Gi"
