deploymentEnv: production
nodeOptions:
  enabledOTEL: true

chain: sandbox
hostNames:
  - console-api-sandbox.akash.network

replicas: 2

resources:
  limits:
    cpu: "4"
    ephemeral-storage: "2Gi"
    memory: "8Gi"
  requests:
    cpu: "0.5"
    ephemeral-storage: "0.5Gi"
    memory: "1Gi"
