name: Publish Akash Templates

on:
  schedule:
    # Run daily at 15:00 UTC
    - cron: "0 15 * * *"
  workflow_dispatch:

jobs:
  build-and-deploy-templates:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: ./.github/actions/setup-app-deps
        with:
          app: api

      - name: Build Akash templates
        env:
          GITHUB_PAT: ${{ secrets.TEMPLATES_GITHUB_PAT || secrets.GITHUB_TOKEN }}
        run: |
          npm run build:akash-templates --workspace=apps/api
          find apps/api/dist/.data/templates -type f ! \( -name "summary.json" -o -path "*/by-id/*" \) -delete;

      - name: Deploy to Cloudflare Pages
        working-directory: apps/api
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.TEMPLATES_CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.TEMPLATES_CLOUDFLARE_ACCOUNT_ID }}
        run: |
          npx -y wrangler@latest pages deploy dist/.data/templates --project-name=akash-templates
