name: CI
on:
  pull_request:
    branches: ["main", "main-sdk-next"]
  push:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: read

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.value }}
    steps:
      - uses: actions/checkout@v6
      - id: matrix
        run: |
          workspaces=$(find apps/* -type d -print0 -maxdepth 0 | xargs -0 -n1 basename | jq -R -s -c 'split("\n")[:-1]')
          echo 'value={"workspace":'"$workspaces"'}' >> "$GITHUB_OUTPUT"

  validate:
    needs: setup
    strategy:
      matrix: ${{ fromJson(needs.setup.outputs.matrix) }}
    uses: ./.github/workflows/reusable-validate-app.yml
    secrets: inherit
    with:
      app: ${{ matrix.workspace }}
