name: Release Deploy Web

on:
  push:
    branches:
      - main
    paths:
      - "apps/deploy-web/package.json"

jobs:
  release:
    name: Create Release
    uses: ./.github/workflows/reusable-create-github-release.yml
    secrets: inherit
    with:
      app: deploy-web

  build-beta:
    needs: release
    name: Build Beta Docker image
    if: needs.release.outputs.git_tag != ''
    uses: ./.github/workflows/reusable-build-image.yml
    secrets: inherit
    permissions:
      contents: write
      packages: write
    with:
      tag: ${{ needs.release.outputs.git_tag }}-beta
      deployment-env: staging

  deploy-beta:
    needs: build-beta
    name: Deploy to beta
    if: needs.build-beta.outputs.base_image_tag != ''
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: console-web
      appVersion: ${{ needs.build-beta.outputs.base_image_tag }}
      environment: staging

  test-beta:
    runs-on: ubuntu-latest
    needs: deploy-beta
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/console-web-ui-testing
        with:
          url: ${{ vars.CONSOLE_WEB_BETA_URL }}
          slack-webhook-url: ${{ secrets.FAILED_E2E_TESTS_SLACK_WEBHOOK_URL }}
          test-wallet-mnemonic: ${{ secrets.CONSOLE_WEB_E2E_TEST_WALLET_MNEMONIC }}
          gh-user-to-slack-user: ${{ vars.GH_USER_TO_SLACK_USER }}
          testing-client-token: ${{ secrets.CONSOLE_WEB_E2E_TESTING_CLIENT_TOKEN_BETA }}

  build-prod:
    needs: release
    if: needs.release.outputs.git_tag != ''
    name: Build Prod Docker image
    uses: ./.github/workflows/reusable-build-image.yml
    secrets: inherit
    permissions:
      contents: write
      packages: write
    with:
      tag: ${{ needs.release.outputs.git_tag }}
      deployment-env: production

  deploy-prod:
    permissions:
      contents: read
      pull-requests: read
    needs:
      - test-beta
      - build-prod
    name: Deploy to prod
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: console-web
      appVersion: ${{ needs.build-prod.outputs.base_image_tag }}
      environment: prod
