name: Deploy Console Web

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Image tag to deploy (e.g., latest, 1.0.0, v1.0.0)"
        required: false
        type: string
      cancel-if-stale:
        description: "Cancel this deployment if a newer version is already queued, running, or recently deployed"
        required: false
        type: boolean
        default: false

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false # don't cancel deployments!

jobs:
  setup:
    uses: ./.github/workflows/reusable-deploy-setup.yml
    with:
      app: console-web
      image_tag: ${{ inputs.image_tag || github.ref_name }}
      cancel-if-stale: ${{ inputs.cancel-if-stale == 'true' }}

  deploy-beta:
    needs: setup
    if: ${{ !needs.setup.outputs.skip }}
    name: Deploy to beta
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: console-web
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: staging

  test-beta:
    runs-on: ubuntu-latest
    needs: deploy-beta
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/console-web-ui-testing
        with:
          url: ${{ vars.CONSOLE_WEB_BETA_URL }}
          slack-webhook-url: ${{ secrets.FAILED_E2E_TESTS_SLACK_WEBHOOK_URL }}
          test-wallet-mnemonic: ${{ secrets.CONSOLE_WEB_E2E_TEST_WALLET_MNEMONIC }}
          gh-user-to-slack-user: ${{ vars.GH_USER_TO_SLACK_USER }}
          testing-client-token: ${{ secrets.CONSOLE_WEB_E2E_TESTING_CLIENT_TOKEN_BETA }}

  deploy-prod:
    permissions:
      contents: read
      pull-requests: read
    needs: [setup, test-beta]
    name: Deploy to prod
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: console-web
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: prod
