name: "Deploy Web CI"

on:
  pull_request:
    branches: ["main", "main-sdk-next"]
  push:
    branches: ["main"]

jobs:
  should-validate:
    uses: ./.github/workflows/reusable-should-validate.yml
    with:
      path: apps/deploy-web

  validate:
    needs: should-validate
    if: needs.should-validate.outputs.enabled == 'true'
    uses: ./.github/workflows/reusable-validate-app.yml
    secrets: inherit
    with:
      app: deploy-web

  test-build:
    runs-on: ubuntu-latest
    needs: should-validate
    if: needs.should-validate.outputs.has_changes == 'true'

    steps:
      - uses: actions/checkout@v4
      - run: packages/docker/script/dc.sh build deploy-web --build-arg DEPLOYMENT_ENV=production

  deploy-web-ci:
    runs-on: ubuntu-latest
    needs: [should-validate, validate, test-build]
    if: always()
    steps:
      - name: Check statuses
        if: needs.should-validate.outputs.has_changes == 'true'
        env:
          VALIDATE_RESULT: ${{ needs.validate.result }}
          TEST_BUILD_RESULT: ${{ needs.test-build.result }}
        run: |
          echo "Validate: $VALIDATE_RESULT"
          echo "Test Build: $TEST_BUILD_RESULT"
          if [[ "$VALIDATE_RESULT" != "success" || "$TEST_BUILD_RESULT" != "success" ]]; then
            exit 1
          fi
