name: GitHub Actions Linting

on:
  pull_request:
    branches: ["main", "main-sdk-next"]
    paths:
      - .github/actions/**
      - .github/workflows/**

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: gh extension install https://github.com/cschleiden/gh-actionlint --pin v1.0.3
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          gh actionlint \
            -ignore 'description is required in metadata' \
            -ignore 'input "[^"]+" is not defined in action "codecov/codecov-action@v5"' \
            -ignore 'the runner of "[^"]+" action is too old'
        env:
          SHELLCHECK_OPTS: >-
            -e SC2129 # exclude Consider using { cmd1; cmd2; } >> file instead of individual redirects
      - name: Ensure all local actions and workflows exist
        run: |
          has_errors='false'
          for item in `grep -rn 'uses:' .github/ | awk 'BEGIN{FS=":"}{ print $4 }' | awk '{$1=$1};1' | grep -E '^(\.\/|\.github\/)'`; do
            file_path="$item"
            if [[ "$item" == .github/actions/* || "$item" == ./.github/actions/* ]]; then
              file_path="$item/action.yml"
            fi

            if [[ ! -f "$file_path" ]]; then
              echo "Error: referencing non-existing action or workflow: $file_path"
              has_errors='true'
            fi
          done

          if [[ "$has_errors" == 'true' ]]; then
            exit 1
          fi
