name: Release INDEXER

on:
  push:
    branches:
      - main
    paths:
      - "apps/indexer/package.json"

jobs:
  release:
    name: Create Release
    uses: ./.github/workflows/reusable-create-github-release.yml
    secrets: inherit
    with:
      app: indexer

  build:
    needs: release
    name: Build Docker image
    if: needs.release.outputs.git_tag != ''
    uses: ./.github/workflows/reusable-build-image.yml
    secrets: inherit
    permissions:
      contents: write
      packages: write
    with:
      tag: ${{ needs.release.outputs.git_tag }}

  deploy-prod-mainnet:
    permissions:
      contents: read
      pull-requests: read
    needs: build
    name: Deploy to prod mainnet
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: indexer
      appVersion: ${{ needs.build.outputs.image_tag }}
      environment: prod
      chain: mainnet

  deploy-prod-sandbox:
    permissions:
      contents: read
      pull-requests: read
    needs: build
    name: Deploy to prod sandbox
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: indexer
      appVersion: ${{ needs.build.outputs.image_tag }}
      environment: prod
      chain: sandbox
