name: Deploy Indexer

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Image tag to deploy (e.g., latest, 1.0.0, v1.0.0)"
        required: false
        type: string
      cancel-if-stale:
        description: "Cancel this deployment if a newer version is already queued, running, or recently deployed"
        required: false
        type: boolean
        default: false

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false # don't cancel deployments!

jobs:
  setup:
    uses: ./.github/workflows/reusable-deploy-setup.yml
    with:
      app: indexer
      image_tag: ${{ inputs.image_tag || github.ref_name }}
      cancel-if-stale: ${{ inputs.cancel-if-stale == 'true' }}

  deploy-prod-mainnet:
    permissions:
      contents: read
      pull-requests: read
      deployments: write
    needs: setup
    if: ${{ !needs.setup.outputs.skip }}
    name: Deploy to prod mainnet
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: indexer
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: prod
      chain: mainnet

  deploy-prod-sandbox:
    permissions:
      contents: read
      pull-requests: read
      deployments: write
    needs: setup
    if: ${{ !needs.setup.outputs.skip }}
    name: Deploy to prod sandbox
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: indexer
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: prod
      chain: sandbox
