name: Release Notifications

on:
  push:
    branches:
      - main
    paths:
      - "apps/notifications/package.json"

jobs:
  release:
    name: Create Release
    uses: ./.github/workflows/reusable-create-github-release.yml
    secrets: inherit
    with:
      app: notifications

  build:
    needs: release
    name: Build Docker image
    if: needs.release.outputs.git_tag != ''
    uses: ./.github/workflows/reusable-build-image.yml
    secrets: inherit
    permissions:
      contents: write
      packages: write
    with:
      tag: ${{ needs.release.outputs.git_tag }}

  deploy-beta:
    needs: build
    name: Deploy to beta sandbox
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: notifications
      appVersion: ${{ needs.build.outputs.image_tag }}
      environment: staging

  deploy-prod:
    permissions:
      contents: read
      pull-requests: read
    needs:
      - build
      - deploy-beta
    name: Deploy to prod
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: notifications
      appVersion: ${{ needs.build.outputs.image_tag }}
      environment: prod
