name: Deploy Provider Proxy

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Image tag to deploy (e.g., latest, 1.0.0, v1.0.0)"
        required: true
        type: string
        default: latest

jobs:
  setup:
    uses: ./.github/workflows/reusable-deploy-setup.yml
    with:
      image_tag: provider-proxy/${{ inputs.image_tag }}

  deploy-beta-mainnet:
    needs: setup
    name: Deploy to beta mainnet
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: provider-proxy
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: staging
      chain: mainnet

  deploy-beta-sandbox:
    needs: setup
    name: Deploy to beta sandbox
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: provider-proxy
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: staging
      chain: sandbox

  test-beta-sandbox:
    permissions:
      contents: read
      pull-requests: read
    needs: deploy-beta-sandbox
    name: Test beta sandbox
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-app-deps
        with:
          app: provider-proxy
      - name: Run e2e tests
        id: e2e-tests
        working-directory: apps/provider-proxy
        env:
          DEPLOYMENT_ENV: staging
          NETWORK: sandbox
          TEST_PROVIDER_PROXY_BASE_URL: ${{ vars.CONSOLE_WEB_BETA_URL }}/provider-proxy-sandbox
        run: npm run test:e2e
      - uses: ./.github/actions/slack-tests-failed-notification
        if: ${{ !cancelled() && steps.e2e-tests.outcome == 'failure' }}
        with:
          url: ${{ vars.CONSOLE_WEB_BETA_URL }}/provider-proxy-sandbox
          slack-webhook-url: ${{ secrets.FAILED_E2E_TESTS_SLACK_WEBHOOK_URL }}
          gh-user-to-slack-user: ${{ vars.GH_USER_TO_SLACK_USER }}
          message-title: "Console provider proxy E2E tests failed on beta"

  deploy-prod-mainnet:
    permissions:
      contents: read
      pull-requests: read
    needs:
      - setup
      - deploy-beta-mainnet
      - test-beta-sandbox
    name: Deploy to prod mainnet
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: provider-proxy
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: prod
      chain: mainnet

  deploy-prod-sandbox:
    permissions:
      contents: read
      pull-requests: read
    needs:
      - setup
      - test-beta-sandbox
    name: Deploy to prod sandbox
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: provider-proxy
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: prod
      chain: sandbox
