name: Deploy Provider Proxy

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Image tag to deploy (e.g., latest, 1.0.0, v1.0.0)"
        required: false
        type: string
      cancel-if-stale:
        description: "Cancel this deployment if a newer version is already queued, running, or recently deployed"
        required: false
        type: boolean
        default: false

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false # don't cancel deployments!

jobs:
  setup:
    uses: ./.github/workflows/reusable-deploy-setup.yml
    with:
      app: provider-proxy
      image_tag: ${{ inputs.image_tag || github.ref_name }}
      cancel-if-stale: ${{ inputs.cancel-if-stale == 'true' }}

  deploy-beta-mainnet:
    permissions:
      contents: read
      pull-requests: read
      deployments: write
    needs: setup
    if: ${{ !needs.setup.outputs.skip }}
    name: Deploy to beta mainnet
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: provider-proxy
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: staging
      chain: mainnet

  deploy-beta-sandbox:
    permissions:
      contents: read
      pull-requests: read
      deployments: write
    needs: setup
    if: ${{ !needs.setup.outputs.skip }}
    name: Deploy to beta sandbox
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: provider-proxy
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: staging
      chain: sandbox

  test-beta-sandbox:
    permissions:
      contents: read
      pull-requests: read
    needs: deploy-beta-sandbox
    name: Test beta sandbox
    uses: ./.github/workflows/reusable-test-e2e.yml
    secrets: inherit
    with:
      app: provider-proxy
      app-url: ${{ vars.CONSOLE_WEB_BETA_URL }}/provider-proxy-sandbox
      environment: staging
      chain: sandbox
      env: >-
        {
          "PROVIDER_PROXY_BASE_URL": "${{ vars.CONSOLE_WEB_BETA_URL }}/provider-proxy-sandbox",
          "CONSOLE_API_BASE_URL": "${{ vars.CONSOLE_WEB_BETA_URL }}/api-sandbox"
        }

  test-beta-mainnet:
    permissions:
      contents: read
      pull-requests: read
    needs: deploy-beta-mainnet
    name: Test beta mainnet
    uses: ./.github/workflows/reusable-test-e2e.yml
    secrets: inherit
    with:
      app: provider-proxy
      app-url: ${{ vars.CONSOLE_WEB_BETA_URL }}/provider-proxy-mainnet
      environment: staging
      chain: mainnet
      env: >-
        {
          "CONSOLE_API_BASE_URL": "${{ vars.CONSOLE_WEB_BETA_URL }}/api-mainnet"
        }

  deploy-prod-mainnet:
    permissions:
      contents: read
      pull-requests: read
      deployments: write
    needs:
      - setup
      - test-beta-mainnet
    name: Deploy to prod mainnet
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: provider-proxy
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: prod
      chain: mainnet

  deploy-prod-sandbox:
    permissions:
      contents: read
      pull-requests: read
      deployments: write
    needs:
      - setup
      - test-beta-sandbox
    name: Deploy to prod sandbox
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: provider-proxy
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: prod
      chain: sandbox

  test-prod-sandbox:
    permissions:
      contents: read
      pull-requests: read
    needs: deploy-prod-sandbox
    name: Test prod sandbox
    uses: ./.github/workflows/reusable-test-e2e.yml
    secrets: inherit
    with:
      app: provider-proxy
      app-url: ${{ vars.CONSOLE_WEB_URL }}/provider-proxy-sandbox
      environment: production
      chain: sandbox
      env: >-
        {
          "CONSOLE_API_BASE_URL": "${{ vars.CONSOLE_WEB_URL }}/api-sandbox"
        }

  test-prod-mainnet:
    permissions:
      contents: read
      pull-requests: read
    needs: deploy-prod-mainnet
    name: Test prod mainnet
    uses: ./.github/workflows/reusable-test-e2e.yml
    secrets: inherit
    with:
      app: provider-proxy
      app-url: ${{ vars.CONSOLE_WEB_URL }}/provider-proxy-mainnet
      environment: production
      chain: mainnet
      env: >-
        {
          "CONSOLE_API_BASE_URL": "${{ vars.CONSOLE_WEB_URL }}/api-mainnet"
        }
