name: "CI: validate app"

on:
  workflow_call:
    inputs:
      app:
        description: "The app to release" # dir name in ./apps/*
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.app }}
  cancel-in-progress: true

jobs:
  validate-app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup-app-deps
        with:
          app: ${{ inputs.app }}

      - name: Run static code analysis
        if: github.event_name == 'pull_request'
        run: |
          npm list eslint --depth 0 || true
          npm list eslint-plugin-import-x --depth 0 || true
          npm run lint -w apps/${{ inputs.app }} -- --quiet

      - name: Check whether app has tests
        id: tests_details
        run: |
          has_tests=$(node -p "require('./apps/${{ inputs.app }}/package.json').scripts['test:cov'] ? 'true' : 'false'")
          requires_env_setup=$(node -p "require('./apps/${{ inputs.app }}/package.json').scripts['test:ci-setup'] ? 'true' : 'false'")
          echo "has_tests=$has_tests" >> "$GITHUB_OUTPUT"
          echo "requires_env_setup=$requires_env_setup" >> "$GITHUB_OUTPUT"

      - uses: docker/setup-buildx-action@v3
        if: ${{ steps.tests_details.outputs.requires_env_setup == 'true' }}

      - name: Normalize branch name
        if: ${{ steps.tests_details.outputs.requires_env_setup == 'true' }}
        run: |
          BRANCH_NAME_SAFE="${GITHUB_REF_NAME//\//-}"
          echo "BRANCH_NAME_SAFE=${BRANCH_NAME_SAFE:-main}" >> "$GITHUB_ENV"

      - name: Prepare tests environment
        if: ${{ steps.tests_details.outputs.requires_env_setup == 'true' }}
        env:
          USE_DOCKER_BUILDKIT: 1
          DOCKER_BUILDKIT_CACHE_SCOPE: ${{ github.workflow }}-${{ inputs.app }}
          DOCKER_BUILDKIT_CACHE_FALLBACK_SCOPE: ${{ github.workflow }}-${{ inputs.app }}-${{ env.BRANCH_NAME_SAFE }}
          BUILDX_BAKE_ENTITLEMENTS_FS: 0
        run: |
          npm run --if-present --workspace=apps/${{ inputs.app }} test:ci-setup

      - name: Run tests
        if: ${{ steps.tests_details.outputs.has_tests == 'true' }}
        run: npm run test:cov --workspace=apps/${{ inputs.app }}

      - name: Teardown tests environment
        if: ${{ always() && steps.tests_details.outputs.requires_env_setup == 'true' }}
        run: npm run --if-present --workspace=apps/${{ inputs.app }} test:ci-teardown

      - name: Upload test results to Codecov
        if: ${{ !cancelled() && steps.tests_details.outputs.has_tests == 'true' }}
        uses: codecov/test-results-action@v1
        with:
          files: ./junit.xml
          name: ${{ inputs.app }}-test-results
          flags: ${{ inputs.app }}
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload Test Coverage
        if: steps.tests_details.outputs.has_tests == 'true'
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          directory: ./apps/${{ inputs.app }}/coverage
          flags: ${{ inputs.app }}
          token: ${{ secrets.CODECOV_TOKEN }}
