name: "CI: validate app"

on:
  workflow_call:
    inputs:
      app:
        description: "The app to release" # dir name in ./apps/*
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.app }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  should-validate:
    uses: ./.github/workflows/reusable-should-validate.yml
    with:
      path: apps/${{ inputs.app }}

  validate:
    needs: should-validate
    if: needs.should-validate.outputs.enabled == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup-app-deps
        with:
          app: ${{ inputs.app }}

      - name: Run static code analysis
        if: github.event_name == 'pull_request'
        run: |
          npm list eslint --depth 0 || true
          npm list eslint-plugin-import-x --depth 0 || true
          npm run lint -w apps/${{ inputs.app }} -- --quiet

      - name: Check whether app has tests
        id: tests_details
        run: |
          has_tests=$(node -p "require('./apps/${{ inputs.app }}/package.json').scripts['test:cov'] ? 'true' : 'false'")
          requires_env_setup=$(node -p "require('./apps/${{ inputs.app }}/package.json').scripts['test:ci-setup'] ? 'true' : 'false'")
          echo "has_tests=$has_tests" >> "$GITHUB_OUTPUT"
          echo "requires_env_setup=$requires_env_setup" >> "$GITHUB_OUTPUT"

      - uses: docker/setup-buildx-action@v3
        if: ${{ steps.tests_details.outputs.requires_env_setup == 'true' }}

      - name: Normalize branch name
        if: ${{ steps.tests_details.outputs.requires_env_setup == 'true' }}
        run: |
          BRANCH_NAME_SAFE="${GITHUB_REF_NAME//\//-}"
          echo "BRANCH_NAME_SAFE=${BRANCH_NAME_SAFE:-main}" >> "$GITHUB_ENV"

      - name: Prepare tests environment
        if: ${{ steps.tests_details.outputs.requires_env_setup == 'true' }}
        env:
          USE_DOCKER_BUILDKIT: 1
          DOCKER_BUILDKIT_CACHE_SCOPE: ${{ github.workflow }}-${{ inputs.app }}
          DOCKER_BUILDKIT_CACHE_FALLBACK_SCOPE: ${{ github.workflow }}-${{ inputs.app }}-${{ env.BRANCH_NAME_SAFE }}
          BUILDX_BAKE_ENTITLEMENTS_FS: 0
        run: |
          npm run --if-present --workspace=apps/${{ inputs.app }} test:ci-setup

      - name: Run tests
        if: ${{ steps.tests_details.outputs.has_tests == 'true' }}
        run: npm run test:cov --workspace=apps/${{ inputs.app }}

      - name: Teardown tests environment
        if: ${{ always() && steps.tests_details.outputs.requires_env_setup == 'true' }}
        run: npm run --if-present --workspace=apps/${{ inputs.app }} test:ci-teardown

      - name: Upload test results to Codecov
        if: ${{ !cancelled() && steps.tests_details.outputs.has_tests == 'true' }}
        uses: codecov/test-results-action@v1
        with:
          files: ./junit.xml
          name: ${{ inputs.app }}-test-results
          flags: ${{ inputs.app }}
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload Test Coverage
        if: steps.tests_details.outputs.has_tests == 'true'
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          directory: ./apps/${{ inputs.app }}/coverage
          flags: ${{ inputs.app }}
          token: ${{ secrets.CODECOV_TOKEN }}

  test-build:
    runs-on: ubuntu-latest
    needs: should-validate
    if: needs.should-validate.outputs.has_changes == 'true'

    steps:
      - uses: actions/checkout@v6
      - name: Build the Docker image for API
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # to not install node_modules inside this job
          mkdir -p node_modules/.bin
          ln -s "$PWD/packages/docker/script/dc.sh" node_modules/.bin/dc
          npm run -w apps/${{ inputs.app }} build:container

  result:
    runs-on: ubuntu-latest
    needs: [should-validate, validate, test-build]
    if: always()
    steps:
      - name: Check statuses
        env:
          VALIDATE_RESULT: ${{ needs.validate.result }}
          TEST_BUILD_RESULT: ${{ needs.should-validate.outputs.has_changes == 'false' && 'success' || needs.test-build.result }}
        run: |
          echo "Validate: $VALIDATE_RESULT"
          echo "Test Build: $TEST_BUILD_RESULT"

          if [[ "$VALIDATE_RESULT" != "success" || "$TEST_BUILD_RESULT" != "success" ]]; then
            exit 1
          fi
