name: Create GitHub Release

on:
  workflow_call:
    inputs:
      app:
        description: "The app to release" # dir name in ./apps/*
        required: true
        type: string
    outputs:
      git_tag:
        description: "The git tag released"
        value: ${{ jobs.release.outputs.git_tag }}

concurrency:
  group: ${{ github.workflow }}-${{ github.sha }}-${{ inputs.app }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  release:
    name: Create GitHub Release
    runs-on: ubuntu-latest

    outputs:
      git_tag: ${{ steps.bumps.outputs.git_tag }}

    steps:
      - name: Full history checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"

      - name: Restore Dependencies Cache
        uses: actions/cache@v4
        id: deps-cache
        with:
          path: |
            node_modules
            packages/releaser/node_modules
          key: deps-${{ runner.os }}-${{ hashFiles('package-lock.json') }}

      - name: Install Dependencies
        if: steps.deps-cache.outputs.cache-hit != 'true'
        run: |
          npm run safe-install -- -w packages/releaser

      - name: Get Version and Changelog Updates
        id: bumps
        env:
          APP_NAME: ${{ inputs.app }}
          APP_ALIASES: >-
            {
              "deploy-web": "console-web",
              "api": "console-api"
            }
        run: |
          app_alias=$(echo "$APP_ALIASES" | jq -r --arg app "$APP_NAME" '.[$app] // $app')
          commits_analysis=$(node ./packages/releaser/recommended-bump.js \
            --tag-prefix="$app_alias/v" \
            --path "apps/$APP_NAME" \
            --repo-url "https://github.com/$GITHUB_REPOSITORY")
          echo "$commits_analysis" | jq

          next_tag=$(echo "$commits_analysis" | jq -r '.nextTag')
          changelog=$(echo "$commits_analysis" | jq -r '.changelog')
          echo "git_tag=$next_tag" >> "$GITHUB_OUTPUT"
          {
            echo "changelog<<CHANGELOG_EOF"
            echo "$changelog"
            echo "CHANGELOG_EOF"
          } >> "$GITHUB_OUTPUT"

      - name: Create Release
        if: ${{ steps.bumps.outputs.git_tag != '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_CHANGELOG: ${{ steps.bumps.outputs.changelog }}
          RELEASE_VERSION: ${{ steps.bumps.outputs.git_tag }}
        run: |
          gh release create "$RELEASE_VERSION" \
            --repo "$GITHUB_REPOSITORY" \
            --title "$RELEASE_VERSION" \
            --notes "$RELEASE_CHANGELOG"
