name: Create GitHub Release

on:
  workflow_call:
    inputs:
      app:
        description: "The app to release" # dir name in ./apps/*
        required: true
        type: string
    outputs:
      git_tag:
        description: "The git tag released"
        value: ${{ jobs.release.outputs.git_tag }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.app }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  release:
    name: Create GitHub Release
    runs-on: ubuntu-latest

    outputs:
      git_tag: ${{ steps.bumps.outputs.git_tag }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: ./.github/actions/associated-pr
        id: associated-pr
        with:
          gh-user-to-slack-user: ${{ vars.GH_USER_TO_SLACK_USER }}

      - name: Get Version and Changelog Updates
        if: ${{ steps.associated-pr.outputs.number != '' }}
        id: bumps
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ steps.associated-pr.outputs.number }}
          PR_TITLE: ${{ steps.associated-pr.outputs.title }}
          APP_NAME: ${{ inputs.app }}
          APP_ALIASES: >-
            {
              "deploy-web": "console-web",
              "api": "console-api"
            }
        run: |
          if [ -z "$PR_NUMBER" ]; then
            echo "Error: PR number is not set."
            exit 0
          fi

          if [[ "$PR_TITLE" != "chore(release): update versions and changelogs"* ]]; then
            echo "Error: Not a release PR"
            exit 0
          fi

          pr_details="$(gh pr view "$PR_NUMBER" --json files)"
          changelog_file="apps/$APP_NAME/CHANGELOG.md"
          is_app_released=$(echo "$pr_details" | jq -e --arg file "$changelog_file" 'any(.files[]; .path == $file)')

          if [ "$is_app_released" = "false" ]; then
            echo "Error: App $APP_NAME has not been released in this PR."
            exit 0
          fi

          package_file="apps/$APP_NAME/package.json"

          if [ ! -f "$package_file" ]; then
            echo "Error: Package file $package_file does not exist."
            exit 1
          fi

          app_alias=$(echo "$APP_ALIASES" | jq -r --arg app "$APP_NAME" '.[$app] // $app')
          current_version=$(jq -r '.version' "$package_file")

          git_tag="$app_alias/v$current_version"
          tag_exists=$(git rev-parse "$git_tag" >/dev/null 2>&1 && echo "true" || echo "false")

          if [ "$tag_exists" = "false" ]; then
            echo "git_tag=$git_tag" >> "$GITHUB_OUTPUT"
            echo "git_tag=$git_tag"

            changelog=$(script/extract-changelog.sh "$current_version" "$changelog_file")

            if [ -n "$changelog" ]; then
              echo "changelog=$changelog"
              echo "changelog<<EOF" >> "$GITHUB_OUTPUT"
              echo "$changelog" >> "$GITHUB_OUTPUT"
              echo "EOF" >> "$GITHUB_OUTPUT"
            fi
          fi

      - name: Create Release
        if: ${{ steps.bumps.outputs.git_tag != '' }}
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.bumps.outputs.git_tag }}
          release_name: ${{ steps.bumps.outputs.git_tag }}
          body: ${{ steps.bumps.outputs.changelog }}
