name: "CI: validate app"

on:
  workflow_call:
    inputs:
      app:
        description: "The app to release" # dir name in ./apps/*
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.app }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  should-validate:
    uses: ./.github/workflows/reusable-should-validate.yml
    with:
      path: apps/${{ inputs.app }}

  validate:
    needs: should-validate
    if: needs.should-validate.outputs.enabled == 'true'
    runs-on: ubuntu-latest
    env:
      TEST_SCRIPT_NAME: ${{ github.event_name == 'merge_group' && 'test' || 'test:cov' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: ./.github/actions/setup-app-deps
        with:
          app: ${{ inputs.app }}

      - name: Check whether app has tests
        id: tests_details
        env:
          PACKAGE_PATH: "./apps/${{ inputs.app }}/package.json"
        run: |
          read -r has_tests requires_env_setup < <(jq -r '[
            (if .scripts["${{ env.TEST_SCRIPT_NAME }}"] then "true" else "false" end),
            (if .scripts["test:ci-setup"] then "true" else "false" end)
          ] | @tsv' "$PACKAGE_PATH")
          echo "has_tests=$has_tests" >> "$GITHUB_OUTPUT"
          echo "requires_env_setup=$requires_env_setup" >> "$GITHUB_OUTPUT"

      - name: Run static code analysis
        if: github.event_name == 'pull_request' || github.event_name == 'merge_group' && steps.tests_details.outputs.has_tests != 'true'
        run: |
          npm run lint -w apps/${{ inputs.app }} -- --quiet

      # - uses: docker/setup-buildx-action@v3
      #   if: ${{ steps.tests_details.outputs.requires_env_setup == 'true' }}

      - name: Normalize branch name
        if: ${{ steps.tests_details.outputs.requires_env_setup == 'true' }}
        run: |
          BRANCH_NAME_SAFE="${GITHUB_REF_NAME//\//-}"
          echo "BRANCH_NAME_SAFE=${BRANCH_NAME_SAFE:-main}" >> "$GITHUB_ENV"

      - name: Prepare tests environment
        if: ${{ steps.tests_details.outputs.requires_env_setup == 'true' }}
        # env:
        #   USE_DOCKER_BUILDKIT: 1
        #   DOCKER_BUILDKIT_CACHE_SCOPE: ${{ github.workflow }}-${{ inputs.app }}
        #   DOCKER_BUILDKIT_CACHE_FALLBACK_SCOPE: ${{ github.workflow }}-${{ inputs.app }}-${{ env.BRANCH_NAME_SAFE }}
        #   BUILDX_BAKE_ENTITLEMENTS_FS: 0
        run: |
          npm run --if-present --workspace=apps/${{ inputs.app }} test:ci-setup

      - name: Run tests
        if: ${{ steps.tests_details.outputs.has_tests == 'true' }}
        run: npm run "$TEST_SCRIPT_NAME" --workspace=apps/${{ inputs.app }}

      - name: Teardown tests environment
        if: ${{ always() && steps.tests_details.outputs.requires_env_setup == 'true' }}
        run: npm run --if-present --workspace=apps/${{ inputs.app }} test:ci-teardown

      - name: Upload test results to Codecov
        if: ${{ !cancelled() && steps.tests_details.outputs.has_tests == 'true' && github.event_name != 'merge_group' }}
        uses: codecov/test-results-action@v1
        with:
          files: ./junit.xml
          name: ${{ inputs.app }}-test-results
          flags: ${{ inputs.app }}
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload Test Coverage
        if: steps.tests_details.outputs.has_tests == 'true' && github.event_name != 'merge_group'
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          directory: ./apps/${{ inputs.app }}/coverage
          flags: ${{ inputs.app }}
          token: ${{ secrets.CODECOV_TOKEN }}

  test-build:
    runs-on: ubuntu-latest
    needs: should-validate
    if: needs.should-validate.outputs.has_changes == 'true'

    steps:
      - uses: actions/checkout@v6
      - name: Build the Docker image for API
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # to not install node_modules inside this job
          mkdir -p node_modules/.bin
          ln -s "$PWD/packages/docker/script/dc.sh" node_modules/.bin/dc
          npm run -w apps/${{ inputs.app }} build:container

  result:
    runs-on: ubuntu-latest
    needs: [should-validate, validate, test-build]
    if: always()
    permissions:
      contents: read
      checks: read
    steps:
      - name: Checkout gha
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            .github
      - name: Conditionally required codecov/patch check
        if: >-
          needs.validate.result == 'success' && github.event_name == 'pull_request' && (
            inputs.app == 'api' ||
            inputs.app == 'deploy-web' ||
            inputs.app == 'notifications' ||
            inputs.app == 'provider-proxy'
          )
        uses: ./.github/actions/poll-check-status
        with:
          name: codecov/patch/${{ inputs.app }}
          sha: ${{ github.event.pull_request.head.sha }}

      - name: Check statuses
        env:
          VALIDATE_RESULT: ${{ needs.validate.result }}
          TEST_BUILD_RESULT: ${{ needs.test-build.result }}
        run: |
          echo "Validate: $VALIDATE_RESULT"
          echo "Test Build: $TEST_BUILD_RESULT"

          is_validation_ok=$(echo "$VALIDATE_RESULT" | grep -q -E "^(success|skipped)$" && echo "true" || echo "false")
          is_test_build_ok=$(echo "$TEST_BUILD_RESULT" | grep -q -E "^(success|skipped)$" && echo "true" || echo "false")

          if [[ "$is_validation_ok" != "true" || "$is_test_build_ok" != "true" ]]; then
            exit 1
          fi
