name: Decide Whether to Validate

on:
  workflow_call:
    inputs:
      path:
        description: "The path to the package to check for changes"
        required: true
        type: string
    secrets:
      gh-token:
        required: false
    outputs:
      enabled:
        description: "Whether should validate"
        value: ${{ jobs.should-validate.outputs.enabled }}
      has_changes:
        description: "Whether app has PR level changes"
        value: ${{ jobs.should-validate.outputs.has_changes }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.path }}
  cancel-in-progress: true

jobs:
  should-validate:
    runs-on: ubuntu-latest
    outputs:
      enabled: ${{ github.event_name == 'push' || steps.has_changes.outputs.value == 'true' }}
      has_changes: ${{ (github.event_name == 'pull_request' || github.event_name == 'pull_request_target' || github.event_name == 'merge_group') && steps.has_changes.outputs.value }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: ./.github/actions/local-dependencies
        if: contains(inputs.path, 'apps/')
        id: local_deps
        with:
          path: ${{ inputs.path }}

      - name: Check for changes
        uses: dorny/paths-filter@v3.0.2
        id: has_changes
        with:
          token: ${{ secrets.gh-token }}
          filters: |
            local_deps: &local_deps ${{ steps.local_deps.outputs.deps_json || '[]' }}
            app_workflows: &app_workflows
              - ".github/workflows/all-ci.yml"
              - ".github/workflows/reusable-should-validate.yml"
              - ".github/workflows/reusable-validate-app.yml"
              - ".github/workflows/reusable-validate-app-unsafe.yml"
            package_workflows: &package_workflows
              - ".github/workflows/local-packages-validate.yml"
            value:
              - "${{ inputs.path }}/**"
              - package-lock.json
              - *local_deps
              - ${{ contains(inputs.path, 'apps/') && '*app_workflows' || '*package_workflows' }}
