name: Deploy Stats Web

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Image tag to deploy (e.g., latest, 1.0.0, v1.0.0)"
        required: false
        type: string
jobs:
  setup:
    uses: ./.github/workflows/reusable-deploy-setup.yml
    with:
      app: stats-web
      image_tag: ${{ inputs.image_tag || github.ref_name }}

  deploy-beta:
    needs: setup
    name: Deploy to beta
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: stats-web
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: staging

  deploy-prod:
    permissions:
      contents: read
      pull-requests: read
    needs: [setup, deploy-beta]
    name: Deploy to prod
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: stats-web
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: prod
