name: Release Stats Web

on:
  push:
    branches:
      - main
    paths:
      - "apps/stats-web/package.json"

jobs:
  release:
    name: Create Release
    uses: ./.github/workflows/reusable-create-github-release.yml
    secrets: inherit
    with:
      app: stats-web

  build-beta:
    needs: release
    name: Build Beta Docker image
    if: needs.release.outputs.git_tag != ''
    uses: ./.github/workflows/reusable-build-image.yml
    secrets: inherit
    permissions:
      contents: write
      packages: write
    with:
      tag: ${{ needs.release.outputs.git_tag }}-beta
      deployment-env: staging

  deploy-beta:
    needs: build-beta
    name: Deploy to beta
    if: needs.build-beta.outputs.base_image_tag != ''
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: stats-web
      appVersion: ${{ needs.build-beta.outputs.base_image_tag }}
      environment: staging

  build-prod:
    needs: release
    name: Build Prod Docker image
    if: needs.release.outputs.git_tag != ''
    uses: ./.github/workflows/reusable-build-image.yml
    secrets: inherit
    permissions:
      contents: write
      packages: write
    with:
      tag: ${{ needs.release.outputs.git_tag }}
      deployment-env: production

  deploy-prod:
    permissions:
      contents: read
      pull-requests: read
    needs:
      - build-prod
      - deploy-beta
    name: Deploy to prod
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: stats-web
      appVersion: ${{ needs.build-prod.outputs.base_image_tag }}
      environment: prod
