name: Deploy TX Signer

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Image tag to deploy (e.g., latest, 1.0.0, v1.0.0)"
        required: true
        type: string
        default: latest

jobs:
  setup:
    uses: ./.github/workflows/reusable-deploy-setup.yml
    with:
      image_tag: tx-signer/${{ inputs.image_tag }}

  deploy-beta-mainnet:
    needs: setup
    name: Deploy to beta mainnet
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: tx-signer
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: staging
      chain: mainnet

  deploy-beta-sandbox:
    needs: setup
    name: Deploy to beta sandbox
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: tx-signer
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: staging
      chain: sandbox

  deploy-prod-mainnet:
    permissions:
      contents: read
      pull-requests: read
    needs:
      - setup
      - deploy-beta-mainnet
      - deploy-beta-sandbox
    name: Deploy to prod mainnet
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: tx-signer
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: prod
      chain: mainnet

  deploy-prod-sandbox:
    permissions:
      contents: read
      pull-requests: read
    needs:
      - setup
      - deploy-beta-sandbox
    name: Deploy to prod sandbox
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    secrets: inherit
    with:
      app: tx-signer
      appVersion: ${{ needs.setup.outputs.image_tag }}
      environment: prod
      chain: sandbox
